:root {
    --primary-color: rgb(134, 42, 42);
    --secondary-color: rgb(161, 132, 69);
    --tertiary-color: rgb(62, 73, 58);
    --quarternary-color: rgb(10, 100, 58);
    --border-value: 0.2em solid black;    
}

body {
    font-family: sans-serif;
    font-size: 1rem;    
    margin: 0;
    background-color: var(--primary-color);
}

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: #fff;
}

h3 {
    margin-left: 10vw;
}


/* if needed, here should come a main selector */

#box {
    display:flex;
    border: var(--border-value);
    border-radius: 1em;
}

.best-movie > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-movie {
    display: grid;
    height: 37vh;
    width: 60vw;
    border: var(--border-value);
    grid-template-rows: 200px;
    grid-gap: 3px;
    margin:1em 15vw;
}

#best-movie--title {
    border: var(--border-value);
    grid-row: 1;
    font-weight: 900;
    padding: 1em; 
    border: transparent;

}

#best-movie--button {
    border:var(--border-value);
    grid-row:2;
    padding: 1em;
    border:transparent;
}

#best-movie--summary {
    border: var(--border-value);
    grid-row: 3/5;
    padding: 1em;
    border: transparent;
}

#best-movie--image {
    border: var(--border-value);
    min-width: 40%;
    border:transparent;
}

