.category-container {
    display: grid;
    height: 31vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 3px;
    overflow-y: auto;
    scrollbar-width: none;
}

.category-container::-webkit-scrollbar {
    display: none;
}

.presentation-box {
    grid-column: 2/12;
    grid-row: auto/span 2;
    height: 20vh;
    width: 25vw;
    border: transparent;
}

.box {
    display:flex;
    border: var(--border-value);
    border-radius: 1em;
}

.category--name {
    font-style: italic;
}

.container {
    padding: 0 20px;
}
